@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Noto Sans JP','Noto Sans SC';
    color: #fff;
}

svg {
    fill: #fff;
}

.frame {
    position: relative;
    background: #161623;
    width: 1500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.box {
    margin: 40px;
    background: rgba(255,255,255,.1);
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    border: 1px solid rgba(255,255,255,.5);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter: blur(25px);
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(2, 3fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 3; 
    display: flex;
    text-align: center;
    align-items: center;

    .imgBx img {
        max-width: 50%;
        height: auto;
    }
}

.div2 { 
    grid-area: 1 / 3 / 3 / 7; 
    display: flex;
    align-items: center;
    
    .name-comment {
        display: flex;
        flex-direction: column;
    }

    .name {
        font-size: 5em;
        font-weight: 600;
    }

    .comment {
        margin-top: 20px;
        font-size: 1.5em;
    }
}

.sns {
    width: 50%;
    display: flex;
    align-items: center;
}
.div3 { 
    grid-area: 3 / 3 / 4 / 4; 

}
.div4 { 
    grid-area: 3 / 4 / 4 / 5; 

}
.div5 { 
    grid-area: 3 / 5 / 4 / 6; 
    width: 54%;
}
.div6 { 
    grid-area: 3 / 6 / 4 / 7; 

}

.smallBx {
    display: flex;
    padding: 10px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    font-size: 1.5em;

    .imgBx {
        position: relative;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin: 15px;
        
        svg {
            width: 100%;
            height: 100%;
            
        }
    }
}
.div7 { 
    grid-area: 1 / 7 / 2 / 8; 

}
.div8 { 
    grid-area: 2 / 7 / 3 / 8; 

}
.div9 { 
    grid-area: 3 / 7 / 4 / 8; 

}
.div10 { 
    grid-area: 1 / 8 / 2 / 9; 

}

.div11 { 
    grid-area: 2 / 8 / 4 / 9; 
    
    ul {
        margin-left: 20px;
        list-style: none;
    }

    li {
        &::before {
            content: '-';
            padding-right: 20px;
        }
        &.en::before {
            padding-right: 22px;
        }
        &.indent {
            padding-left: 40px;
        }
    }
}

.decoration {
    position: absolute;
}
.decoration1 {
    width: 400px;
    height: 400px;
    background: rgb(156,242,0);
    background: linear-gradient(60deg, rgba(156,242,0,1) 30%, rgba(255,171,0,1) 100%);
    border-radius: 50%;
    top: 230px;
    left: 1300px;
}
.decoration2 {
    top: -200px;
    left: 500px;
    svg {
        fill: url(#deco2-gradient);
    }
}